extends layout
block title
    title= "Server"
block content
    a(href="/servers")= "Servers"
    table
        tr
            td Name
            td IP
            td Users
        tr
            td= server.name
            td= server.ip
            td= server.users.length
    table
        tr
            td Username
        - each user in server.users
            tr
                td= user.name
